.padd-mob {
    padding: 20px 10px;
}
.logo-content{float:right;}
.logo-content h3{font-weight:600;letter-spacing:1px;}
.logo-content h5{font-weight:600;letter-spacing:1px;}
#header{color:#05057d;}

.navbar-expand-sm{
    background-color: #020031;
    border-color: #e7e7e7;
}
.navbar-expand-sm .navbar-nav>.active>a, .navbar-expand-sm .navbar-nav>.active>a:focus, .navbar-expand-sm .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #f6783a;
}


.navbar-expand-sm .navbar-nav>li>a {
    color: #fff;
    font-size: 12pt;
    letter-spacing: 1px;
    margin-left: 1em;
}
.navbar-expand-sm .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #f6783a;

}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px!important;
  border: 1px solid transparent;
}


.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: unset!important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.student{
width:150px; 
height:150px;
margin:0 auto;
    margin-top: 2em;

 }
 .logo-content{display:inline-block;padding-top:2px;}
.logo{width:50%;}

	.hs-item {
  position: relative;
  margin: 0 auto;
}
.hs-item .hs-text {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding-top: 0em;
  height:100%;
}

.shialendra{width:15%;display:inline-block;margin-top:-11px; vertical-align:middle;padding-right:5px;}
.shialendra img{border-radius:50%;}
.shialendra1{font-weight:bold;font-size:3em;margin-top:}

 
#Sec-review{  
width:100%;
background-image:url(../img/course/review_pic.jpg);
 background-repeat:no-repeat; 
 background-size:cover;
}
.review-overlay{
  background-color: #ff9e3d;
  opacity: 0.8;
  filter: alpha(opacity=60);
}

.review h2 {
    font-weight: 600;
    font-size: 25px;
    color: white;
}
.review hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eee;
    width: 60px;
}
#Sec-review .item{
height:300px;
letter-spacing:0.6px;
}
.review .item h3 {
     color: white;
   font-size: 24px;   
}

.review .item p {
     color: #fff;
   font-size: 17px;  
	
}

#Sec-review .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: ;
	margin:0 auto;
}
	
#Sec-review .carousel-control.left {
    background-image:none;
}

#Sec-review .carousel-control.right {
    right: 0;
    left: auto;
    background-image:none;
	}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: xx-large;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}